.logo {
  color: white;
  font-size: 30px;
  flex: 1;
}

.logo h1:nth-child(2) {
  display: none;
}

@media (max-width: 768px) {
  .logo h1:nth-child(1) {
    display: none;
  }
  .logo h1:nth-child(2) {
    display: block;
  }
}
