.operation-array {
  margin: 0 30px;
  padding: 15px 20px;
  color: black;
}
.operation-array:nth-child(odd) {
  background-color: white;
}

.operation-array:nth-child(even) {
  background-color: rgb(226, 225, 225);
}

.operation-array p {
  display: flex;
  font-size: 12px;
}

.operation-array p span:nth-child(1),
.operation-array p span:nth-child(3) {
  flex: 1;
}

.operation-array p span:nth-child(2) {
  flex: 2;
}

.operation-array p span:nth-child(1) {
  color: grey;
}

.operation-array p span:nth-child(3) {
  text-align: right;
}
